.ChatContainer {
  width: 600px;
  max-width: 90vw;
  height: 800px;
  max-height: 90vh;
  background-color: white;
  padding: 0 24px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: black;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.08));
  box-sizing: border-box;
}

.ChatMessagesContainer {
  flex: 1;
  overflow-y: auto;
}

.TypersDiv {
  color: #727272;
  margin: 8px 0 10px;
  font-size: 12px;
}
