.ChatContainer {
  width: 600px;
  max-width: 90vw;
  height: 800px;
  max-height: 90vh;
  background-color: white;
  padding: 0 24px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: black;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.08));
  box-sizing: border-box;
}

.ChatMessagesContainer {
  flex: 1;
  overflow-y: auto;
}

.TypersDiv {
  color: #727272;
  margin: 8px 0 10px;
  font-size: 12px;
}

.LoadingIndicator {
  border: 10px solid #f0f0f0;
  border-top: 10px solid #727272;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
