.TextMessageOuterContainer {
  display: flex;
  margin: 24px 0;
}

.Avatar {
  border-radius: 8px;
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.TextMessageContainer {
  display: flex;
  flex-direction: column;
}

.UserTimeContainer {
  display: flex;
  margin-bottom: 4px;
  align-items: center;
}

.Username {
  font-size: 14px;
  font-weight: bold;
  margin-right: 12px;
}

.DateTime {
  font-size: 12px;
  color: #969696;
  white-space: nowrap;
}

.MsgBody {
  font-size: 14px;
}

.MessageTextLine {
  margin-bottom: 4px;
}

.MessageTextLine:last-child {
  margin-bottom: 0;
}

.ImageMessage {
  width: 192px;
  height: 128px;
  border-radius: 4px;
}
