body {
  margin: 0;
  font-family: Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.OuterContainer {
  background-color: white;
  position: fixed;
  height: 100%;
  Width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

button:enabled {
  cursor: pointer;
}
